.images-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 108px;
}

.images-container section:nth-child(2) {
  position: relative;
  left: 10px;
  top: 100px;
}

@media (max-width: 750px) {
  .images-container {
    width: 80%;
    margin-left: 8px;
  }
  .images-container section:nth-child(2) {
    position: relative;
    top: 100px;
    left: -8px;
  }
}
